@import "./media";
@import "./functions";
@import "./variables";
div.home {
  // background-color: palevioletred;
  div.logo {
    // background-color: red;
    justify-content: center;
    display: flex;
    padding: 20px 0 0 0;
    img {
      width: 150px;
      @include pc {
        width: 200px;
      }
    }
  }
  form {
    // background: green;
    @include flexBox_spaceCenter;
  }
  .search {
    // background: green;
    padding: 30px 0;
    @include pc {
      padding: 50px 0;
    }

    input {
      // background-color: blue;
      padding: 5px;
      border-radius: 10px;
      width: 200px;
      height: 25px;
      display: flex;
      @include pc {
        width: 600px;
        height: 35px;
      }
    }
    button {
      // background-color: skyblue;
      padding: 5px;
      border-radius: 20px;
      display: flex;
      margin-left: 5px;
      &:hover {
        background: $orange;
      }
      @include pc {
        padding: 10px;
        border-radius: 30px;
      }
    }
  }
}
