@import "./media";
@import "./functions";
@import "./variables";

div.home {
  .search {
    padding: 30px 0;
    flex-direction: row;

    @include pc {
      padding: 50px 0;
    }
    form {
      @include flexBox_spaceCenter;
      flex-direction: column;
      div.search_engine {
        flex-direction: row;
        display: flex;
        input[type="text"] {
          padding: 5px;
          border-radius: 10px;
          width: 200px;
          height: 25px;
          display: flex;
          @include pc {
            width: 600px;
            height: 35px;
          }
        }
        button {
          padding: 5px;
          border-radius: 20px;
          display: flex;
          margin-left: 5px;
          &:hover {
            background: $orange;
          }
          @include pc {
            padding: 10px;
            border-radius: 30px;
          }
        }
      }
      div.search_filter {
        text-align: center;
        .search_filter_guide {
          flex-direction: row;
          @include flexBox_spaceCenter;
          a {
            padding: 0;
            margin: 0;
            font-size: smaller;
          }
          div.detail {
            font-weight: 800;
            margin: 0 0 0 5px;
            padding: 0;
          }
        }

        div.search_box_hide {
          // display: none;
          border: 1px solid;
          border-radius: 10px;
          margin: 10px;
          padding: 5px;
          text-align: left;
          div.search_box {
            width: 300px;
            span {
              font-size: 15px;
              font-weight: 800;
              padding: 3px;
              margin-right: 200px;
            }
            label {
              flex-direction: row;
              display: inline-block;
              margin-right: 10px;
              line-height: 16px;
              cursor: pointer;
              input[type="checkbox"] {
                width: 16px;
                height: 16px;
                margin: -2px 5px 0 0;
                padding: 0;
                box-sizing: border-box;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
}
