@import "./media";
@import "./variables";
@import "./functions";

nav {
  background: $white;
  // background-color: red;
  position: relative;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  @include pc {
    height: 100px;
  }
  div.close {
    height: 80px;
    width: 100px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    @include pc {
      height: 100px;
      width: 200px;
    }
    svg {
      padding: 25px 10px;
      @include pc {
        padding: 35px 20px;
      }
    }
  }

  div.open {
    .menu_content {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      background-color: $lightOrange;
      width: 100px;
      height: 100vh;
      @include pc {
        width: 200px;
      }
      svg {
        padding: 25px 10px;
        @include pc {
          padding: 35px 20px;
        }
      }
      button {
        flex-direction: column;
        background: none;
        border: none;
        padding: 10px;
        margin: 0;
        width: 100%;
        &:hover {
          background-color: $orange;
          color: $white;
          transition: 0.3s;
        }
        @include pc {
          font-size: 20px;
          padding: 10px 20px;
        }
      }
    }
  }
  div.logo {
    position: absolute;
    left: 100px;
    top: 0;
    @include pc {
      left: 200px;
    }
    img {
      width: 150px;
      margin: 10px;
      @include pc {
        width: 170px;
        margin: 20px;
      }
    }
  }
}
