@import "./media";
@import "./variables";

div.menu {
  background: $white;
  // box-shadow: 2px 2px 1px 0.5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 90px;
  @include pc {
    width: 130px;
  }
  button {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    padding: 10px;
    margin: 0;
    width: 100%;
    &:hover {
      background-color: $orange;
      color: $white;
      transition: 0.3s;
    }
  }
}
