@import "./_functions";
@import "./_variables";
@import "./media";

.recipeBox {
  display: flex;
  flex-direction: column;
  .recipeBox_container {
    background-color: $lightOrange;
    display: flex;
    border-radius: 10px;
    margin: 15px 30px;
    // border: 1px solid $gray;
    @include flexBox_spaceBetween;
    @include pc {
      margin: 15px 100px;
    }
    &:hover {
      // box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.2);
      margin: 15px;
      transition: 0.3s;
      @include pc {
        margin: 15px 70px;
      }
    }
    .recipeBox_content {
      display: flex;
      flex-direction: column;
      @include pc {
        margin: 20px 5px;
      }
      p.title {
        // background-color: seagreen;
        font-size: 1.5em;
        font-weight: 800;
        padding: 0 15px;
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p.caption {
        // background-color: lemonchiffon;
        font: 1em;
        padding: 0 15px;
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        @include pc {
          -webkit-line-clamp: 5;
        }
      }
    }
  }
  .recipeBox_image {
    img {
      width: 100px;
      display: flex;
      border-radius: 10px;
      //   border: 5px solid $lightOrange;
      margin: 20px;
      @include pc {
        margin: 20px;
        width: 150px;
      }
    }
  }
}
